.container
  .col-xs-2
    %h1.title
      %a{href: root_path}="Blog"

  .col-xs-6
    - Category.all.each do |t|
      = link_to t.name, post_by_category_path(t.id), class: "CategoryButton"
  .pull-right{style: "display: flex"}
    - if user_signed_in?
      = link_to "Ajouter", new_post_path, class: "my-account"
      = link_to "Déconnexion", destroy_user_session_path, :method => :delete, class: "logout"
      = link_to "Admin", rails_admin_path, class: "my-account"
    - else
      = link_to "Connexion", new_user_session_path, class: "my-account"
  
    -# - if user_signed_in?
    -#   = button_to t("create_listing"), new_listing_path, class: "btn btn-success", method: :get
    -# - else
    -#   = button_to t("create_listing"), new_user_session_path, class: "btn btn-success", method: :get
